$primary: teal;
$red: rgb(201, 0, 0);
form {
    max-width: 600px;
    input,
    textarea,
    button {
        width: 100%;
    }
}

.error {
    color: $red;
    display: none;
    font-size: 14px;
    padding: 8px;
    &.show {
        display: block;
    }
}

form {
    &.disabled {
        &:hover {
            cursor: not-allowed;
        }
        input,
        textarea,
        button {
            pointer-events: none;
        }
    }
}